.background{
    background-image: url(orangeBlack.jpg);
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.curve{
    border-radius: 8px;
    box-shadow: 0 0 5px 0 ;
     background: inherit;
    backdrop-filter: blur(10px);
}
     
#tableHolder{
    height:28rem;
    overflow:scroll;
    margin-left:15px;
    margin-right:15px;
    margin-bottom:3rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logoBackground{
      background-color: black;
  }